 <div class="container">
  <div class="text-center mt-5 mb-5" *ngIf="categoria">
    <h1 style="color: black;">{{categoria.nombre_categoria}}</h1>
  </div>
  <hr>
  <div class="text-center mt-5 mb-5 container" *ngIf="sinProductos">
    <h6>Estamos trabajando esta sección para usted, proximamente estara disponible.</h6>
  </div>
  <div *ngIf="!sinProductos && servicios.length === 0" class="row mr-5 ml-5" style="width: 97%;">
    <div class="col-xs-6 col-md-4" *ngFor="let producto of productos">
      <div class="content">
        <a class="thumbnail" (click)="goProducto(producto.id_productos)">
          <div class="content-overlay" (click)="goProducto(producto.id_productos)"></div>
            <img [src]="url_api+producto.imagenes" class="img-fluid content-image" width="250px" height="250px" alt="Producto">
            <div class="content-details fadeIn-bottom">
            <h6 class="content-title">Ver mas</h6>
          </div>
        </a>
      </div>
      <div class="mt-2" style="margin-left:10px;">
        <h6 class="font-weight-bold text-grey">{{producto.nombre_producto}}</h6>
        <p style="color:black">$ {{producto.precio}} </p>
      </div>
    </div>
  </div>
  <div *ngIf="!sinProductos && servicios" class="row mr-5 ml-5" style="width: 97%;">
    <div class="col-xs-6 col-md-4" *ngFor="let servicio of servicios">
      <div class="content">
        <a class="thumbnail" (click)="goServicio(servicio.id_servicios)">
          <div class="content-overlay" (click)="goServicio(servicio.id_servicios)"></div>
            <img [src]="url_api+servicio.imagenes" class="img-fluid content-image" width="250px" height="250px" alt="Servicio">
            <div class="content-details fadeIn-bottom">
            <h6 class="content-title">Ver mas</h6>
          </div>
        </a>
      </div>
      <div class="mt-2" style="margin-left:10px;">
        <h6 class="font-weight-bold text-grey">{{servicio.nombre_servicio}}</h6>
        <p style="color:black">$ {{servicio.precio}} </p>
      </div>
    </div>
  </div>