<div>
    <h2>Datos Producto</h2>
</div>
<form [formGroup]="form" (ngSubmit)="crear(form.value)">
        <div class="row">
            <div class="col-4">
                <mat-form-field appearance="" style="width: 100%;">
                    <mat-label>Nombre Producto</mat-label>
                    <input matInput type="text" formControlName="nombre_producto"/>
                </mat-form-field>
            </div>
            
            <div class="col-4">
                <mat-form-field appearance="" style="width: 100%;">
                    <mat-label>Descripción Producto</mat-label>
                    <input matInput type="textarea" formControlName="descripcion_producto"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-4" >
                <mat-form-field appearance="" style="width: 100%;">
                    <mat-label>Precio CLP</mat-label>
                    <input matInput type="number" formControlName="precio"/>
                </mat-form-field>
            </div>
            <div class="col-4" >
                <mat-form-field appearance="" style="width: 100%;">
                    <mat-label>Categoria del Producto</mat-label>
                    <mat-select  formControlName="categoriaIdCategorias">
                      <mat-option *ngFor="let categoria of categoriasBD" [value]="categoria.id_categorias">
                        {{categoria.nombre_categoria}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    <h3>
        <b>Imagenes del Producto</b>
    </h3>
    <div class="row">
        <div *ngFor="let img of filesProduct">
            <div class="col-2"><img class="img" [src]="url_api+img"/>
            </div>
        </div>
        <div class="col-12" *ngIf="filesProduct.length === 0">
            <p>No hay archivos.</p>
        </div>
    </div>
</form>