 <!-- Begin Page Content -->
 <div class="container-fluid">

  <!-- BreadCrumb -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Stock</h1>
  </div>
  <!-- End BreadCrumb -->

  <!-- Boton Agregar Producto -->
  <div >
    <button class="botonF waves-effect waves-light" (click)="crear()">
      <span>+</span>
    </button>
  </div>
  <!-- End Boton Agregar Productos -->

  <mat-card class="example-card mt-4 mr-3 ml-3" >
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <input type="text" mat-input (keyup)="buscar($event)" placeholder="Buscar"
          class="form-control"/>            
        </div>
      </div>
      
        <table mat-table [dataSource]="dataSource" >
          <div class="spinner-container text-center" *ngIf="dataSource === undefined">
            <mat-spinner></mat-spinner>
          </div>
            <ng-container matColumnDef="nombre_subproducto">
              <th mat-header-cell *matHeaderCellDef>Cantidad  </th>
              <td mat-cell *matCellDef="let element">
                {{element.cantidad}}
                </td>
            </ng-container>
            <ng-container matColumnDef="sucursal">
              <th mat-header-cell *matHeaderCellDef>Sucursal  </th>
              <td mat-cell *matCellDef="let element">
                {{element.sucursal}}
                </td>
            </ng-container>
           
            <!-- Weight Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element">
                {{element.borrado}}
              </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                  <a mat-icon-button color="secondary"
                  (click)="editar(element)"><mat-icon>edit</mat-icon></a>
                  <a mat-icon-button color="danger" (click)="eliminar(element.id_stock)"><mat-icon>delete</mat-icon></a>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator  [pageSize]="5"
                   [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
          
    </mat-card-content>
  </mat-card>
 </div>