<mat-card class="container mt-4">
    <div>
        <h2>Perfil</h2>
    </div>
    <div *ngIf="type_user !==0">
        <form [formGroup]="form" (ngSubmit)="crear(form.value)" *ngIf="type_user !== 2">
            <div class="row mb-5"><div class="col-6">
                <div class="custom-file mt-3" (click)="onClick()">
                    <label class="custom-file-label" *ngIf="foto_perfil === ''">Seleccione su foto de perfil...</label>
                    <label class="custom-file-label" *ngIf="foto_perfil !== ''">Edite su foto de perfil...</label>
                    <input type="file" class="custom-file-input" #fileUpload id="fileUpload" name="fileUpload" 
                        multiple="multiple" accept="image/*" style="display:none;" />
                </div>
            </div>
            <div class="col-12 mt-3" *ngIf="foto_perfil === ''">
                Ingrese una foto de perfil.
            </div>
            <div class="col-12 mt-3" *ngIf="foto_perfil !== ''">
                <img 
                style="width: 100px; height: 100px; border-radius: 50%;"
                [src]="url_api+foto_perfil" />
            </div></div>
            <div class="row" >
                <div class='col-6'>
                    <mat-form-field appearance="" style="width: 100%;">
                        <mat-label>Nombre de Usuario</mat-label>
                        <input matInput type="text" formControlName="usuario"/>
                    </mat-form-field>        
                </div>
                <div class='col-6'>
                    <mat-form-field appearance="" style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="correo"/>
                    </mat-form-field>        
                </div>
                <div class='col-6'>
                    <mat-form-field appearance="" style="width: 100%;">
                        <mat-label>Nombres</mat-label>
                        <input matInput type="text" formControlName="nombres"/>
                    </mat-form-field>        
                </div>
                <div class='col-6'>
                    <mat-form-field appearance="" style="width: 100%;">
                        <mat-label>Apellidos</mat-label>
                        <input matInput type="text" formControlName="apellidos"/>
                    </mat-form-field>        
                </div>
                <div class='col-6'>
                    <mat-form-field appearance="" style="width: 100%;">
                        <mat-label>Rut</mat-label>
                        <input matInput type="text" formControlName="rut"/>
                    </mat-form-field>
                </div>
                <div class='col-6'>
                    <mat-form-field appearance="" style="width: 100%;">
                        <mat-label>Teléfono</mat-label>
                        <input matInput type="number" formControlName="telefono"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-center mt-5">
                <button mat-raised-button
                    [disabled]="form.status !== 'VALID'" color="primary" type="submit"
                    >Editar</button>
            </div>
        </form>
        <div *ngIf="type_user === 2">
            <form [formGroup]="form" (ngSubmit)="crear(form.value)" >
                <div class="row mb-5"><div class="col-6">
        
                    <div class="custom-file mt-3" (click)="onClick()">
                        <label class="custom-file-label" *ngIf="foto_perfil === ''">Seleccione su foto de perfil...</label>
                        <label class="custom-file-label" *ngIf="foto_perfil !== ''">Edite su foto de perfil...</label>
                        <input type="file" class="custom-file-input" #fileUpload id="fileUpload" name="fileUpload" 
                            multiple="multiple" accept="image/*" style="display:none;" />
                    </div>
                </div>
                <div class="col-12 mt-3" *ngIf="foto_perfil === ''">
                    Ingrese una foto de perfil.
                </div>
                <div class="col-12 mt-3" *ngIf="foto_perfil !== ''">
                    <img 
                    style="width: 100px; height: 100px; border-radius: 50%;"
                    [src]="url_api+foto_perfil" />
                </div></div>
                <div class="row" >
                    <div class='col-6'>
                        <mat-form-field appearance="" style="width: 100%;">
                            <mat-label>Nombre de Fantasia</mat-label>
                            <input matInput type="text" formControlName="nombre_fantasia"/>
                        </mat-form-field>        
                    </div>
                    <div class='col-6'>
                        <mat-form-field appearance="" style="width: 100%;">
                            <mat-label>Razón Social</mat-label>
                            <input matInput type="text" formControlName="razon_social"/>
                        </mat-form-field>        
                    </div>
                    <div class='col-6'>
                        <mat-form-field appearance="" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="correo"/>
                        </mat-form-field>        
                    </div>
                    <div class='col-6'>
                        <mat-form-field appearance="" style="width: 100%;">
                            <mat-label>Rut</mat-label>
                            <input matInput type="text" formControlName="rut"/>
                        </mat-form-field>
                    </div>
                    <div class='col-6'>
                        <mat-form-field appearance="" style="width: 100%;">
                            <mat-label>Teléfono</mat-label>
                            <input matInput type="number" formControlName="telefono"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button mat-raised-button
                        [disabled]="form.status !== 'VALID'" color="primary" type="submit"
                        >Editar</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>