<!-- <p s>Usuarios</p> -->
<nav>
  <ol class="breadcrumb" style="background: transparent">
    <li
      class="breadcrumb-item"
      aria-current="page"
      [routerLink]="['../']"
      routerLinkActive="router-link-active"
    >
      Admin
    </li>
    <li class="breadcrumb-item" aria-current="page">Usuarios</li>
  </ol>
</nav>
<mat-card class="example-card mt-4 mr-3 ml-3">
  <mat-card-content>
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-12">
        <input
          type="text"
          mat-input
          (keyup)="buscar($event)"
          placeholder="Buscar"
          class="form-control"
        />
      </div>
      <div class="col-xl-6 col-md-6 col-sm-12">
        <button mat-raised-button (click)="filtrarPostulaciones()">
          Ver postulaciones
        </button>
      </div>
    </div>
    <div class="spinner-container text-center" *ngIf="dataSource === undefined">
      <mat-spinner></mat-spinner>
    </div>
    <table mat-table [dataSource]="dataSource">
      <!-- Weight Column -->
      <div class="form-control-group col-xl-6 col-md-6 col-sm-12">
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>
      </div>

      <!-- Symbol Column -->
      <div class="form-control-group col-xl-6 col-md-6 col-sm-12">
        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef>Rut</th>
          <td mat-cell *matCellDef="let element">{{ element.rut }}</td>
        </ng-container>
      </div>
      <!-- Symbol Column -->
      <div class="form-control-group col-xl-6 col-md-6 col-sm-12">
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.telefono_contacto !== null">
              +{{ element.telefono_contacto }}
            </div>
          </td>
        </ng-container>
      </div>

      <!-- Symbol Column -->
      <div class="form-control-group col-xl-6 col-md-6 col-sm-12">
        <ng-container matColumnDef="tipo_usuario">
          <th mat-header-cell *matHeaderCellDef>Tipo Usuario</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.tiposUsuarioIdTiposUsuarios === 1">Usuario</div>
            <div *ngIf="element.tiposUsuarioIdTiposUsuarios === 2">
              Emprendedor
            </div>
            <div *ngIf="element.tiposUsuarioIdTiposUsuarios === 3">
              Administrador
            </div>
            <div *ngIf="element.tiposUsuarioIdTiposUsuarios === 4">
              Postulación
            </div>
          </td>
        </ng-container>
      </div>

      <!-- Symbol Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-icon-button
            color="primary"
            (click)="ver(element)"
            *ngIf="element.tiposUsuarioIdTiposUsuarios === 4"
            ><mat-icon>visibility</mat-icon></a
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="usuarios?.length"
      [pageSize]="5"
      [pageSizeOptions]="[3, 5, 10]"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
