<div class="container-fluid white-content p-0">
  <div class="row headband-pink" style="margin:0 ! important;">
    <div class="col-sm-12 col-md-12 col-lg-12">
       <div class="text-left" style="margin-left: 110px;">
        <h5 class="text-white m-2"><b class="text-uppercase">Consultorías</b><i> Te ayudamos a crecer</i></h5>
       </div>
    </div>
  </div>
  <div class="row rosa-content mx-auto d-flex justify-content-center" style="margin:0 ! important;">

    <div class="row mx-auto" style="width: 60%;">
      <div class="col-md-3 p-0 m-0 mt-5">    
          <img class="img-fluid" src="./assets/img/HUNTING_CONSULTORIA.png" alt="">
      </div>
      <div class="col-md-3 p-0 m-0 mt-5">  
        <img class="img-fluid" src="./assets/img/LAB_CONSULTORIA.png" alt="">
        </div>
        <div class="col-md-3 p-0 m-0 mt-5">   
      <img class="img-fluid" src="./assets/img/TERCERTIEMPO_CONSULTORIA.png" alt="">
         </div>
         <div class="col-md-3 p-0 m-0 mt-5">   
          <img class="img-fluid" src="./assets/img/CURATORIA_CONSULTORIA.png" alt="">
             </div>
    </div>


  <div class="row" style="width: 100%; align-items: center; text-align: center; margin: 0 auto;">
   <div class="col-md-12">
    <img src="./assets/img/LOGO_RUTAWAKE.png" alt="" class="img-fluid mr-1">
    <a (click)="goCategoria('22')"> <img src="./assets/img/BOTON_CONTACTO.png" class="" alt=""></a>
   </div>
  </div>
</div>
<div class="row headband-blue" style="margin:0 ! important;">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="text-left" style="margin-left: 110px;">
      <h5 class="text-white m-2"><b class="text-uppercase">Asesoría Legal</b><i> Emprende inteligente</i></h5>
     </div>
  </div>
</div>

<div class="row azul-content  mx-auto d-flex justify-content-center" style="margin:0 ! important; padding: 0 ;">
  <div class="row mx-auto" style="width: 70%;">
  <div class="col-md-4  mt-5">   
      <img class="img-fluid" src="./assets/img/MONO_EMPRENDIMIENTO.png" alt="">
      <img class="img-fluid" src="./assets/img/TEXTO_LEGAL_1.png" alt="">
  </div>
  <div class="col-md-4 mt-5">  
    <img class="img-fluid" src="./assets/img/MONO_CONTABILIDAD_LEGAL.png" alt="">
    <img class="img-fluid" src="./assets/img/TEXTO_LEGAL_2.png" alt="">
    </div>
    <div class="col-md-4 mt-5">  
  <img class="img-fluid" src="./assets/img/MONO_REGISTRA_LEGAL.png" alt="">
  <img class="img-fluid" src="./assets/img/TEXTO_LEGAL_3.png" alt="">
     </div>
</div>

<div class="row" style="width: 100%; align-items: center; text-align: center; margin: 0 auto;">
 <div class="col-md-12">
  <img src="./assets/img/LOGO_EMPRENDE_INTELIGENTE.png" alt="" class="img-fluid mr-1">
  <a (click)="goCategoria('23')"> <img src="./assets/img/BOTON_CONTACTO.png" class="" alt=""></a>
 </div>
</div>
</div>

  <div class="row headband-black" style="margin:0 ! important;">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="text-left" style="margin-left: 110px;">
         <h5 class="text-white m-2"><b class="text-uppercase">Experiencias</b> <i> Talleres y actividades</i></h5>
       </div>
    </div>
  </div>
  <div class="row lineyellow-content mx-auto d-flex justify-content-center" style="margin:0 ! important;">

    <div class="row mx-auto" style="width: 60%;">
      <div class="col-md-3 p-0 m-0 mt-5">    
          <img class="img-fluid" src="./assets/img/exp_cocina_1.png" alt="">
      </div>
      <div class="col-md-3 p-0 m-0 mt-5">  
        <img class="img-fluid" src="./assets/img/EXP_PILATES_2.png" alt="">
        </div>
        <div class="col-md-3 p-0 m-0 mt-5">   
      <img class="img-fluid" src="./assets/img/EXP_MAKEUP_3.png" alt="">
         </div>
         <div class="col-md-3 p-0 m-0 mt-5">   
          <img class="img-fluid" src="./assets/img/EXP_YOUTUBE_4.png" alt="">
             </div>
    </div>

    <div class="row" style="width: 100%; align-items: center; text-align: center; margin: 0 auto;">
      <div class="col-md-12">
        <a (click)="goCategoria('24')"> <img src="./assets/img/BOTON_CONTACTO.png" class="" alt=""></a>
      </div>
     </div>
  </div> 


      <div class="row headband-yellow" style="margin:0 ! important;">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="text-left" style="margin-left: 110px;">
             <h5 class="text-white m-2"><b class="text-uppercase">Servicios de Diseño</b> <i> Fortalece tu marca</i></h5>
           </div>
        </div>
      </div>
      <div class="row mx-auto limon-content d-flex justify-content-center" style="margin:0 ! important;">

        <div class="row mx-auto d-flex justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-12">
          <img src="./assets/img/TEXTOBLANCO_DISENO.png" alt="..." class="img-fluid mt-5">
        </div> 
        </div>

        <div class="row mx-auto d-flex justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-12">
          <img src="./assets/img/FOTO_1_DISENO.png" alt="..." class="img-fluid m-2">
          <img src="./assets/img/FOTO_2_DISENO.png" alt="..." class="img-fluid m-2">
          <img src="./assets/img/FOTO_3_DISENO.png" alt="..." class="img-fluid m-2">
        </div>
        </div>
        <div class=" text-center linePinkLg"></div> 
  
        <div class="container-fluid">
          <div class="col-md-12 d-flex justify-content-center">
            <a (click)="goCategoria('25')"> <img src="./assets/img/BOTON_CONTACTO.png" class="" alt=""></a>
          </div>
         </div>
    </div>

    

    <div class="row black-content-section" style="margin:0 ! important;padding: 0;">
      <div class="col-md-6 col-sm-4 col-xs-4  d-flex justify-content-center">
              <p class="text-white text-left text-sm-footer"> 
                  contacto@tiendalimon.cl <br>
                  ventas@tiendalimon.cl <br>
                  asesorias@tiendalimon.cl<br>
                  gourmet@tiendalimon.cl<br><br>
                  Limón Market Place I Logística para emprender<br>
                  Instagram  @tienda_limon_vitacura<br>
                  www.tiendalimon.cl<br>
                  www.online.tiendalimon.cl<br><br>
                  Celular +56978521313<br>
                  Ventas Espacios por Whatsapp +569- 69089587<br>
                  Monseñor Escriva de Balaguer 6647, Vitacura
              </p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 ">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
          <div style="width: 80%; float: left; text-align:center;">
          <img class="img-fluid logo-footer" src="./assets/img/LOGO2_LIMON.png" alt="">
         </div>
      </div>
  </div>
</div><!-- end container -->

 