<div class="container-fluid white-content p-0">
    <video controls style="width: 100%; height: 500px;">
        <source src="/assets/video/1VIDEO_PRESENTACIÓN_LIMON.mp4" type="video/mp4">
    </video>

      <div class="row white-content-section" style="margin:0 ! important; padding: 0;">
        <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">
           <div class="text-center" style="margin-top:100px; margin-bottom: 40px;">
            <h3 class="text-yellow"><b>Nosotros</b></h3>
           </div>
           <p class="text-center"><b>Somos una gran vitrina comercial que busca potenciar al emprendedor</b>
            que ya tenga la intención de iniciar una idea, un producto o un servicio.
            Nuestro  pilar  es  que el emprendedor aprenda a comercializar con un sello retail y una vuelta sustentable para así crear juntos una comunidad colaborativa.
            Ofrecemos una mirada profesional con sentido de justicia  y valor en un punto de conexión con respuesta real, logrando equidad entre los emprendedores.
            Esto además ayuda infinitamente  a la economía colaborativa de cada comuna en donde las pymes se sienten apoyadas , en un espacio real concreto donde pueden crecer y aumentar su ingreso mensual  en nuestros espacios físicos en tiendas  y marketplace.
             </p>
             <p class="text-center">
                ¡Vendamos juntos! Somos tu team, tú eres el actor principal de tu emprendimiento.
             </p>
             <div class=" text-center linePink"></div>
        </div>
    </div>
  </div>

  <div class="row headband-black" style="margin:0 ! important;padding: 0;">
    <div class="col-sm-12 col-md-12 col-lg-12">
       <div class="text-center">
        <h5 class="text-white m-3"><b>Team Limon</b></h5>
       </div>
    </div> 
  </div>

 <div class="row point-colors-content">
    <div class=" mt-5 col-md-4 col-sm-12 col-lg-4 pequenoPading">
        <div class="card card-sm quitaBorde">
            <img class="img-fluid mx-auto" src="./assets/img/FOTO_MONICA.png" width="200" height="100" alt="">
        </div> 
    </div>
      
    <div class="mt-5 col-md-4 col-sm-12 col-lg-4 pequenoPadingMenos">
        <div class="card card-sm quitaBorde">
            <img class="img-fluid mx-auto" src="./assets/img/FOTO_ARIANA.png" width="200" height="100" alt="">
        </div> 
    </div>
    <div class="mt-5 col-md-4 col-sm-12 col-lg-4">
        <div class="card card-sm quitaBorde">
            <img class="img-fluid mx-auto" src="./assets/img/FOTO_PILAR.png" width="200" height="100" alt="">
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-0"></div>
    <div class="  col-md-4 col-sm-12  col-lg-4  ">              
        <div class="card card-sm quitaBorde ">
            <img class="img-fluid mx-auto reduceMargin" src="./assets/img/FOTO_ROSARIO.png" width="200" height="100" alt="">
        </div> 
    </div>
    <div class="  col-md-3 col-sm-12  col-lg-3 ">             
        <div class="card card-sm quitaBorde ">
            <img class="img-fluid mx-auto reduceMargin" src="./assets/img/FOTO_MJESUS.png" width="200" height="100" alt="">
        </div> 
    </div>
    <div class=" col-md-3 col-sm-12  col-lg-3  pequenoPading">      
        <div class="card card-sm quitaBorde justify-content-center">
            <img class="img-fluid mx-auto reduceMargin" src="./assets/img/FOTO_CRIS.png" width="200" height="100" alt="">
        </div> 
    </div>
  </div>

  <div class="row headband-green" style="margin:0 ! important;padding: 0;">
    <div class="col-sm-12 col-md-12 col-lg-12">
       <div class="text-center">
        <h5 class="text-white m-3"><b>¿Cómo lo hacemos?</b></h5>
       </div>
    </div> 
  </div>

  <div class="row point-white-content d-flex justify-content-center mx-auto" style="margin:0 ! important;padding: 0;">

    <div class="col-md-2 col-md-offset-2 mr-0 ml-0 p-0" style="margin-top: 100px;">          
        <div class="card card-sm" style="border: 0px solid rgba(0,0,0,.125); background-color: transparent;">
            <img class="img-fluid mx-auto" src="./assets/img/ICONO_TIENDA.png" width="150" height="150" alt="">
            <div class="card-body card-white-2 mx-auto mt-5">
                <p class="card-text text-center text-black text-center font-sm">Creamos una plataforma orientada a ser un punto de encuentro entre emprendedores y su público objetivo.</p>
            </div>
          </div> 
        </div>
        <div class="col-md-2 col-md-offset-2 mr-0 ml-0 p-0" style="margin-top: 100px;">                   
            <div class="card card-sm" style="border: 0px solid rgba(0,0,0,.125); background-color: transparent;">
                    <img class="img-fluid mx-auto" src="./assets/img/ICONO_PREGUNTA.png" width="150" height="150" alt="">
                    <div class="card-body card-white-2 mx-auto mt-5">
                        <p class="card-text text-center text-black text-center font-sm">Asesoramos y ayudamos a emprendedores tanto en la parte técnica como de desarrollo con el fin de que aumenten sus ventas.
                        </p>
                    </div>
                  </div> 
            </div>
            <div class="col-md-2 col-md-offset-2 mr-0 ml-0 p-0" style="margin-top: 100px;">                    
                <div class="card card-sm" style="border: 0px solid rgba(0,0,0,.125); background-color: transparent;">
                    <img class="img-fluid mx-auto" src="./assets/img/ICONO_CONFIGURACION.png" width="150" height="150" alt="">
                    <div class="card-body card-white-2 mx-auto mt-5">
                        <p class="card-text text-center text-black text-center font-sm">Ofrecemos apoyo logístico para
                            mejorar el proceso de ventas de cada marca.
                            </p>
                    </div>
                  </div> 
                </div>
                <div class="col-md-2 col-md-offset-2 mr-0 ml-0 p-0" style="margin-top: 100px;">           
                    <div class="card card-sm" style="border: 0px solid rgba(0,0,0,.125); background-color: transparent;">
                        <img class="img-fluid mx-auto" src="./assets/img/ICONO_PARLANTE.png" width="150" height="150" alt="">
                        <div class="card-body card-white-2 mx-auto mt-5">
                            <p class="card-text text-center text-black text-center font-sm"> Colaboramos con la difusión de cada marca para darla a conocer a su público objetivo.</p>
                        </div>
                  </div> 
             </div>
  </div>
 
  

  <div class="row black-content-section" style="margin:0 ! important;padding: 0;">
    <div class="col-md-6 col-sm-4 col-xs-4  d-flex justify-content-center">
            <p class="text-white text-left text-sm-footer"> 
                contacto@tiendalimon.cl <br>
                ventas@tiendalimon.cl <br>
                asesorias@tiendalimon.cl<br>
                gourmet@tiendalimon.cl<br><br>
                Limón Market Place I Logística para emprender<br>
                Instagram  @tienda_limon_vitacura<br>
                www.tiendalimon.cl<br>
                www.online.tiendalimon.cl<br><br>
                Celular +56978521313<br>
                Ventas Espacios por Whatsapp +569- 69089587<br>
                Monseñor Escriva de Balaguer 6647, Vitacura
            </p>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 ">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div style="width: 80%; float: left; margin-top: 40px; text-align:center;">
        <img class="img-fluid logo-footer" src="./assets/img/LOGO2_LIMON.png" alt="">
       </div>
    </div>
</div>
</div> <!-- end container-->



 
 