<div class="container-fluid white-content p-0">
    <div class="row headband-yellow" style="margin:0 ! important;">
      <div class="col-sm-12 col-md-12 col-lg-12">
         <div class="text-left">
          <h5 class="text-white m-2 headband-text"><b class="text-uppercase">vende en limón</b><i> Tienda física y Marketplace virtual</i></h5>
         </div>
      </div>
    </div>
    <div class="row linegrey-content mx-auto d-flex align-items-center">
      <div class="row mx-auto" style="width: 35%;">
        <div class="col-md-12">   
            <img class="img-fluid arriendo-img-sm" src="./assets/img/TEXTO_VENDECONLIMON.png" alt="">
            <img class="img-fluid" src="./assets/img/LIMON_LOGOAMARILLO.png" alt="">
           <a href=""><img class="img-fluid mt-2 mb-5" src="./assets/img/BOTON_DESCARGARFORMULARIOARRIENDO.png" alt=""></a>
        </div>
      </div>
      </div>
  <div class="row headband-pink" style="margin:0 ! important;">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h5 class="text-white m-2 text-center"><b>Elige dónde quieres estar</b></h5>
    </div>
  </div>
  
  <div class="row white-content  mx-auto d-flex justify-content-center" style="margin:0 ! important; padding: 0;">
    <div class="row mx-auto" style="width: 60%;">
    <div class="col-md-6 col-xs-12 col-lg-6">   
        <img class="img-fluid imagen-arriendo" src="./assets/img/FOTO_REF_MARKETPLACE_ARRIEN.png" alt="">
        <img class="img-fluid mb-5 mt-5"  src="./assets/img/titulo1.png" alt="">
    </div>
    <div class="col-md-6 col-xs-12 col-lg-6">  
      <img class="img-fluid imagen-arriendo" src="./assets/img/FOTO_REF_TIENDA_ARRIEN.png">
      <img class="img-fluid mb-5 mt-5" src="./assets/img/titulo2.png" alt="">
      </div>
  </div>
  </div>
  
    <div class="row headband-black" style="margin:0 ! important;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-left">
           <h5 class="text-white m-2 headband-text"><b class="text-uppercase">Forma parte de esta gran red</b> <i> Sigue el paso a paso</i></h5>
         </div>
      </div>
    </div>
    <div class="row yellowL-content-section" style="margin:0 ! important; padding: 0;">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 d-flex align-items-center">
          <div class="m-5 mx-auto">
        <img src="./assets/img/ESQUEMA_ARRIENDO.png" alt="" class="img-fluid mx-auto">
      </div>
      </div>
    </div> 
  
  
        <div class="row headband-green" style="margin:0 ! important;" >
          <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="text-left" >
               <h5 class="text-white m-2 headband-text"><b class="text-uppercase">Detalle de nuestro servicio</b> <i> conoce nuestro servicio en profundidad</i></h5>
             </div>
          </div>
        </div>

        <div class="row white-content" style="margin:0 !important;padding: 0;">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 d-flex align-items-center">
              <div class="mx-auto">
            <img src="./assets/img/DETALLES_ARRIENDO.png" alt="" class="img-fluid" style="margin-top: 30px;">
              </div>
          </div>
      </div>
  
  
	<div class="row black-content-section" style="margin:0 ! important;padding: 0;">
    <div class="col-md-6 col-sm-4 col-xs-4  d-flex justify-content-center">
            <p class="text-white text-left text-sm-footer"> 
                contacto@tiendalimon.cl <br>
                ventas@tiendalimon.cl <br>
                asesorias@tiendalimon.cl<br>
                gourmet@tiendalimon.cl<br><br>
                Limón Market Place I Logística para emprender<br>
                Instagram  @tienda_limon_vitacura<br>
                www.tiendalimon.cl<br>
                www.online.tiendalimon.cl<br><br>
                Celular +56978521313<br>
                Ventas Espacios por Whatsapp +569- 69089587<br>
                Monseñor Escriva de Balaguer 6647, Vitacura
            </p>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 ">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div style="width: 80%; float: left; text-align:center;">
        <img class="img-fluid logo-footer" src="./assets/img/LOGO2_LIMON.png" alt="">
       </div>
    </div>
</div>
 </div><!-- end container -->
  
   
